header{
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 388px;
	background: #0020F4 0% 0% no-repeat padding-box;
	opacity: 1;
}
.logo{
	top: 40px;
	left: 240px;
	width: 115px;
	height: 65px;
	background: transparent url('img/Group 2.png') 0% 0% no-repeat padding-box;
	opacity: 1;
}
header nav a {
	color: white;
	text-decoration: none;
}
header .contact-buton{
	top: 63px;
	left: 1555px;
	width: 81px;
	height: 19px;
	font: normal normal bold 16px/19px Helvetica Neue;
	color: #171717;
	background: #FFFFFF;
	border-radius: 28px;
}
article img{
	width: 1195px;
	height: 600px;
}